.article-container{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    background:var(--footercolor);
}

.img-container{
    width:100%;
    height:100%;
    background:var(--footercolor);
}

.img-container img{
    width:100%;
    height:100%;
}

.article-details{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:1rem 1.5rem;
    height:100%;
    font-family:var(--font-family);
    color:white;
}

.article-details p{
    font-style: normal;
    font-weight: 700;
    font-size: 11.649px;
    line-height: 35px;
}

.article-details h3{
    font-style: normal;
    font-weight: 800;
    font-size: 25.11px;
    line-height: 30px;
}

.article-details p:last-child{
    font-style: normal;
    font-weight: 700;
    font-size: 11.649px;
    line-height: 35px;
}

@media screen and (max-width:550px){
    .article-details h3{
        font-size:18px;
        line-height:25px;
    }
}